.row {
  color: aliceblue;
  margin-left: 20px;
}

.poster {
  padding: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.poster::-webkit-scrollbar {
  display: none;
}
.posterImage {
  max-height: 250px;
  margin-right: 10px;
  cursor: pointer;
}

.smallPoster {
  max-height: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.posterImage:hover{
  transform: scale(1.1);
}

.smallPoster:hover{
  transform: scale(1.1);
}

